.navbar_user{
    z-index: 1000;
    position: relative;
    gap: 20px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar_user button{
    height: 35px;
    width: 200px;
    border-radius: 20px;
    border: none;
    font-weight: 600;
}

.navbar_user div{
    height: 50px;
    gap: 10px;
    display: flex;
    color: white;
    align-items: center;
}

#modificationContent{
    display: flex;
    justify-content: center;
    gap: 30px;
}

#modificationContent button {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 2em;
    border: none;
    background-color: transparent;
}

.modal_container{
    display: none;
    position: fixed;
    top : 0 ;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.modal_container.active{
    display: block;
}


.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #333333d3;
}



.modal{
    width: 95%;
    max-width: 600px;
    min-width: 400px;
    padding: 70px;
    background: #fff;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.close_modal{
    border: none;
    font-size: 25px;
    position: absolute;
    top: 15px;
    right: 30px;
    cursor: pointer;
    background-color: #fff;
}

.modal section{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: 0px;
    padding:0px 40px ;
}

.modal h1 {
    margin-bottom: 10px;
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    text-align: center;
    margin-top: 35px;
    
}

.modal p {
    line-height: 1.4;
    margin-bottom : 5px;
    
}  

.edit_modal{
    width: 100%;
    display: flex;
    flex-wrap: wrap; 
}
.edit_modal figure{
    padding: 5px 2px;
    width: 19%;
    display: flex;
   flex-direction: column;
   height: 100%;
    align-items: center;
}

.edit_modal img{
    display: flex;
    align-items: center;
    height: 100px;
    width: 80px;
   
}

.edit_modal figcaption{
    position: relative;
    right: 22px;
}

.button_modal{
    background-color: #1D6154;
    color: #fff;
    border-radius: 40px;
    border: none;
    display: flex;
    height: 35px;
    width: 45%;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-size: 15px;
}

.button_supprimer{
    border: none;
    background-color: #fff;
    color: red;
    margin-top: 10px;
    font-size: 13px;
    padding-top: 20px;
    margin: auto;
}

.button_none{
    visibility:hidden;
}

#formulaire_ajust{
    display: flex;
    flex-direction: column;
    border: none;
    gap: 20px;
    width: 100%;
    margin: 0px 20px;
}

#button_send{
    background-color: gray;
}

.select_delete{
    display: flex;
    top: 20px;
    left : 30px ;
    position: relative;
    z-index: 10;
}

.element_add_image{
    display: flex;
    flex-direction: column;
    height: 190px;
    width: 100%;
    background-color: #E8F1F7;
    border-radius: 5px;
}

.new_image{
    display: none;
}

#new_image{
    position: fixed;
    width: 100px;
    top: 250px;
    left: 300px;
}


.ajust_image{
    position: fixed;
    top: 250px;
    left: 270px;
    width: 200px;
    height: 40px;
    background-color: #CBD6DC;
    z-index: 1;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #306685;
    font-size: 16px;
}

#logo_formulaire_image{
    width: auto;
    height: 50px;
    margin-top: 35px;
}

.element_add_image p {
    display: flex;
    font-size: 11px;
    justify-content: center;
    margin-top: 70px;
}

label {
    font-size: 15px;
}

#title_new_image, #select_category{
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#display_image_form {
    position: fixed;
    z-index: 15;
    width: 20%;
    height: 190px;
    left: 300px;
}

.bouton_ajust_none{
    visibility: hidden;
}